<section class="carousel">
  <div class="capity bg-light"></div>
  <div
    id="carouselMovie"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li data-target="#carouselMovie" data-slide-to="0" class="active"></li>
      <li data-target="#carouselMovie" data-slide-to="1"></li>
      <li data-target="#carouselMovie" data-slide-to="2"></li>
      <li data-target="#carouselMovie" data-slide-to="3"></li>
      <li data-target="#carouselMovie" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://s3img.vcdn.vn/123phim/2021/03/bo-gia-16146819941008.png" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://s3img.vcdn.vn/123phim/2021/03/gai-gia-lam-chieu-v-16152893212536.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://s3img.vcdn.vn/123phim/2021/03/minari-16158836515210.jpg" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="https://s3img.vcdn.vn/123phim/2021/03/chaos-walking-16159520326264.jpg" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="https://s3img.vcdn.vn/123phim/2021/03/palm-springs-16146820863959.jpg" class="d-block w-100">
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselMovie"
      role="button"
      data-slide="prev"
    >
      <img src="../../../../assets/img/back-session.png" />
    </a>
    <a
      class="carousel-control-next"
      href="#carouselMovie"
      role="button"
      data-slide="next"
    >
      <img src="../../../../assets/img/next-session.png" />
    </a>
  </div>
</section>
