.carousel {
  .capity {
    height: 60px;
    width: 100%;
  }
  #carouselMovie {
    ol {
      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
        &.active {
          background-color: #fb4226;
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        img {
          height: 650px;
        }
      }
    }
    .carousel-control-prev {
      img {
        width: 50px;
        position: absolute;
        top: 45%;
        left: 10%;
      }
    }
    .carousel-control-next {
      img {
        width: 50px;
        position: absolute;
        top: 45%;
        right: 10%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner {
    .carousel-item {
      img {
        height: 550px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-inner {
    .carousel-item {
      img {
        height: 450px !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner {
    .carousel-item {
      img {
        height: 350px !important;
      }
    }
  }
}
