.chiTietCumRap {
  margin-top: 60px;
  .cinemaBg {
    content: "";
    background-image: url(../../../assets/img/cumrap-bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    opacity: 0.8;
    filter: blur(20px);
  }
  .info__content {
    width: 56%;
    margin: 80px auto;
    .cinemaInfo {
      .cinemaImg {
        max-width: 220px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          box-shadow: 0 0 16px 0 rgb(0 0 0 / 50%);
        }
      }
      .cinemaDes {
        margin: auto;
        .cinemaName {
          font-size: 20px;
          margin-bottom: 0;
          font-weight: 500;
        }
        .cinemaAdd {
          font-size: 14px;
        }
        button {
          font-size: 16px;
          border-radius: 4px;
          text-align: center;
          background: 0 0;
          padding: 7px 25px;
          transition: all 0.2s;
          background-color: #fb4226;
          border: none;
          color: #fff;
          &:hover {
            background-color: #b42a14;
          }
        }
      }
      .cinemaRating {
        text-align: right;
        margin: auto;
        .cinemaRating__content {
          .rating__number {
            background-color: #333;
            color: white;
            font-size: 50px;
            border: 5px solid #7ed321;
            border-radius: 100%;
            padding: 30px;
          }
          .rating__star {
            margin-top: 40px;
            color: #fb4226;
            font-size: 25px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    .cinemaShowTimes {
      background-color: #fff;
      margin-top: 80px;
      display: flex;
      .cinemaList {
        overflow: auto;
        list-style: none;
        height: 715px;
        border-top: 1px solid #ebebec;
        border-bottom: 1px solid #ebebec;
        border-left: 1px solid #ebebec;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 35%;
        padding: 0;
        margin-bottom: 0;
        min-height: 600px;
        .cinema {
          display: flex;
          padding: 20px;
          position: relative;
          cursor: pointer;
          opacity: 0.5;
          img {
            margin: auto;
            margin-right: 10px;
            margin-left: 0;
          }
          .cinema__text {
            width: 80%;
            .name {
              font-size: 14px;
              margin-bottom: 0;
            }
            .add {
              margin-bottom: 0;
              font-size: 12px;
              color: #b7b7b7;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 86%;
            left: 7%;
            border-bottom: 1px solid rgba(238, 238, 238, 0.88);
          }
          &:hover {
            opacity: 1;
          }
          &.active {
            opacity: 1;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .showTimes {
        width: 65%;
        border: 1px solid #ebebec;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        .dayOfWeek {
          overflow: auto;
          display: flex;
          align-items: center;
          height: 90px;
          padding: 16px;
          border-bottom: 1px solid #ebebec;
          .day {
            white-space: nowrap;
            &.active {
              p {
                color: #fb4226;
              }
            }
            font-size: 14px;
            font-weight: 500;
            margin-right: 38px;
            cursor: pointer;
            p {
              margin-bottom: 0;
              text-align: center;
              &:last-child {
                font-size: 18px;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .lichChieuCacPhim {
          overflow: auto;
          height: 623px;
          .lichChieuPhim {
            padding: 20px;
            position: relative;
            p {
              font-weight: 500;
              color: #036ff4;
              &.moviename {
                display: inline-block;
                color: #000;
                margin-left: 10px;
                margin-bottom: 0;
              }
              &.type {
                margin-top: 20px;
                margin-bottom: 10px;
              }
            }
            .lichChieu {
              display: flex;
              a {
                background-color: rgba(246, 246, 246, 0.5);
                border-radius: 7px;
                border: 1px solid #e4e4e4;
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #108f3e;
                padding: 10px 15px;
                margin-right: 10px;
              }
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              width: 94%;
              left: 3%;
              border-bottom: 1px solid rgba(238, 238, 238, 0.88);
            }
          }
        }
        .noShowTime {
          margin: 20px;
          text-align: center;
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(238, 238, 238, 0.88);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

@media screen and (max-width: 1200px) {
  .info__content {
    width: 80% !important;
  }
}
@media screen and (max-width: 768px) {
  .info__content {
    width: 90% !important;
  }
}
