h2{
  text-align: center;
  margin-bottom: 20px;
}
form{
  input{
    transition: all 0.5s;
    &:focus{
      box-shadow: none;
      border-color: #505170;
    }
  }
  button{
    width: 100%;
    background-color: #505170;
    border-radius: 0;
    color: #fff;
    margin: 15px 0;
    padding: 10px 0;
  }
}
